.container {
  min-height: 100vh;
  padding: 0;
}

.main {
  margin: 0;
  padding: 1px;
  text-align: center;
}

.main ul {
  margin: 5px;
  padding: 5px;
  display: inline-block !important;
  text-align: center;
}

.main li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.main img {
  border-radius: 10px;
}

.main li h4 {
  margin: 5px;
  padding: 1px;
}

.input {
  padding: 10px;
  margin: 5px;
}

.inputButton {
  padding: 10px;
}